<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-Z1EFSG7HWL"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-Z1EFSG7HWL");
		</script>

		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>
			Page 9 of 15 - BicycleTips.com Tips, Tricks, Product and Ride Reviews -
			BicycleTips.com
		</title>
		<link rel="icon" href="assets/images/logo.png" />

		<meta property="og:url" content="https://www.bicycletips.com/page9/" />
		<meta property="og:image" content="https://www.bicycletips.com" />

		<meta property="og:type" content="article" />

		<meta
			property="og:title"
			content="BicycleTips.com Tips, Tricks, Product and Ride Reviews - BicycleTips.com"
		/>

		<meta
			property="og:description"
			content="A cycling website dedicated to bringing you the latest tips, tricks, product and ride reviews, primarily focused on gravel cycling."
		/>
		<meta
			name="description"
			content="A cycling website dedicated to bringing you the latest tips, tricks, product and ride reviews, primarily focused on gravel cycling."
		/>

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@" />
		<meta
			name="twitter:title"
			content="BicycleTips.com Tips, Tricks, Product and Ride Reviews - BicycleTips.com"
		/>
		<meta
			name="twitter:description"
			content="A cycling website dedicated to bringing you the latest tips, tricks, product and ride reviews, primarily focused on gravel cycling."
		/>
		<meta name="twitter:image" content="https://www.bicycletips.com" />

		<meta name="keywords" content="" />
		<link rel="canonical" href="https://www.bicycletips.com/page9/" />

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
			integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
			crossorigin="anonymous"
		/>

		<link href="/assets/css/screen.css" rel="stylesheet" />

		<link href="/assets/css/main.css" rel="stylesheet" />

		<script src="/assets/js/jquery.min.js"></script>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "BlogPosting",
				"url": "https://www.bicycletips.com/page9/",
				"name": "BicycleTips.com Tips, Tricks, Product and Ride Reviews",
				"headline": "BicycleTips.com Tips, Tricks, Product and Ride Reviews",
				"keywords": "",
				"description": "",
				"articleBody": "\n\n\n    Welcome to {{ site.name }} \n        {% if paginator.page %}\n            {% if paginator.page > 1 %}\n                - Page {{ paginator.page }} of {{ paginator.total_pages }} \n            {% endif %}\n        {% endif %}\n    \n    \n        {{ site.description }}\n    \n\n\n{% if page.url == \"/\" %}\n\n\n\n    \n        Featured\n    \n    \n\n    {% for post in site.posts %}\n\n        {% if post.featured == true %}\n\n            {% include featuredbox.html %}\n\n        {% endif %}\n\n    {% endfor %}\n\n    \n\n\n{% endif %}\n\n\n\n\n    \n\n        All Posts\n\n    \n\n    \n\n        {% for post in paginator.posts %}\n\n        {% include postbox.html %}\n\n        {% endfor %}\n\n    \n\n\n\n\n\n\n\n    {% include pagination.html %}\n\n\n\n",
				"datePublished": null,
				"dateModified": null,

				"publisher": {
					"@type": "Organization",
					"name": "BicycleTips.com",
					"url": "https://www.bicycletips.com",
					"logo": {
						"@type": "ImageObject",
						"width": 32,
						"height": 32,
						"url": "https://www.bicycletips.com/assets/images/logo.png"
					}
				},
				"mainEntityOfPage": {
					"@type": "WebPage",
					"@id": "https://www.bicycletips.com//page9/"
				},
				"image": ["https://www.bicycletips.com"]
			}
		</script>
	</head>

	<body class="layout-default">
		<!-- defer loading of font and font awesome -->
		<noscript id="deferred-styles">
			<link
				href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
				rel="stylesheet"
			/>
			<link
				rel="stylesheet"
				href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
				integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
				crossorigin="anonymous"
			/>
		</noscript>

		<!-- Begin Menu Navigation
================================================== -->
		<nav
			class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down"
		>
			<div class="container pr-0">
				<!-- Begin Logo -->
				<a class="navbar-brand" href="/">
					<img src="/assets/images/logo.png" alt="BicycleTips.com" />
				</a>
				<!-- End Logo -->

				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarMediumish"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarMediumish">
					<!-- Begin Menu -->

					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/index.html">Home</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>

						<script src="/assets/js/lunr.js"></script>

						<style>
							.lunrsearchresult .title {
								color: #d9230f;
							}
							.lunrsearchresult .url {
								color: silver;
							}
							.lunrsearchresult a {
								display: block;
								color: #777;
							}
							.lunrsearchresult a:hover,
							.lunrsearchresult a:focus {
								text-decoration: none;
							}
							.lunrsearchresult a:hover .title {
								text-decoration: underline;
							}
						</style>

						<form
							role="search"
							class="bd-search"
							onSubmit="return lunr_search(document.getElementById('lunrsearch').value);"
						>
							<input
								type="text"
								class="form-control text-small launch-modal-search"
								id="lunrsearch"
								name="q"
								maxlength="255"
								value=""
								placeholder="Search: Type and enter..."
							/>
						</form>

						<div id="lunrsearchresults">
							<ul></ul>
						</div>

						<script src="/assets/js/lunrsearchengine.js"></script>
					</ul>

					<!-- End Menu -->
				</div>
			</div>
		</nav>
		<!-- End Navigation
================================================== -->

		<div class="site-content">
			<div class="container">
				<!-- Content
================================================== -->
				<main class="main-content">
					<!-- Site Title
================================================== -->

					<div class="mainheading">
						<h1 class="sitetitle">Welcome to BicycleTips.com - Page 9 of 15</h1>
						<p class="lead">
							A cycling website dedicated to bringing you the latest tips,
							tricks, product and ride reviews, primarily focused on gravel
							cycling.
						</p>
					</div>

					<!-- Posts Index
================================================== -->
					<section class="recent-posts">
						<div class="section-title">
							<h2><span>All Posts</span></h2>
						</div>

						<div class="row listrecent">
							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a
											href="/boone-bridge-bike-trail-to-the-katy-trailnow-open"
										>
											<img
												class="img-fluid"
												src="/assets/images_out/Content/3-12/trail_merge_1024-800-db2a4acce.jpg"
												alt="Boone Bridge Bike Trail to the Katy Trail–NOW OPEN!"
												srcset="
													/assets/images_out/Content/3-12/trail_merge_1024-200-db2a4acce.jpg   200w,
													/assets/images_out/Content/3-12/trail_merge_1024-400-db2a4acce.jpg   400w,
													/assets/images_out/Content/3-12/trail_merge_1024-800-db2a4acce.jpg   800w,
													/assets/images_out/Content/3-12/trail_merge_1024-1024-db2a4acce.jpg 1024w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a
												class="text-dark"
												href="/boone-bridge-bike-trail-to-the-katy-trailnow-open"
												>Boone Bridge Bike Trail to the Katy Trail–NOW OPEN!</a
											>
										</h2>
										<h4 class="card-text">
											In case you missed the news, the bike path connecting the
											Monarch Levy trail, and the Katy Trail opened up last week
											(week of June 10th, 2016).
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/eb3fa0a535aad25459bd3299f0b26557?s=250&d=mm&r=x"
													alt="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">12 Jun 2016</span>

											<span class="post-read-more"
												><a
													href="/boone-bridge-bike-trail-to-the-katy-trailnow-open"
													title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a
											href="/benefit-of-cold-weather-cycling-clearing-the-sinuses"
										>
											<img
												class="img-fluid"
												src="/assets/images_out/24608581753_6542cc4025_o-800-e5ba56528.jpg"
												alt="Benefit of cold weather cycling, Clearing The Sinuses"
												srcset="
													/assets/images_out/24608581753_6542cc4025_o-200-e5ba56528.jpg   200w,
													/assets/images_out/24608581753_6542cc4025_o-400-e5ba56528.jpg   400w,
													/assets/images_out/24608581753_6542cc4025_o-800-e5ba56528.jpg   800w,
													/assets/images_out/24608581753_6542cc4025_o-1600-e5ba56528.jpg 1600w,
													/assets/images_out/24608581753_6542cc4025_o-2000-e5ba56528.jpg 2000w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a
												class="text-dark"
												href="/benefit-of-cold-weather-cycling-clearing-the-sinuses"
												>Benefit of cold weather cycling, Clearing The
												Sinuses</a
											>
										</h2>
										<h4 class="card-text">
											There are many obvious health benefits to riding your
											bicycle, and by riding your bicycle year-round, you can
											work to keep your body in shape for the prime riding in...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/eb3fa0a535aad25459bd3299f0b26557?s=250&d=mm&r=x"
													alt="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">30 Mar 2016</span>

											<span class="post-read-more"
												><a
													href="/benefit-of-cold-weather-cycling-clearing-the-sinuses"
													title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/setting-goals-for-2014"> </a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-dark" href="/setting-goals-for-2014"
												>Setting goals for 2014</a
											>
										</h2>
										<h4 class="card-text">
											I've debated for the past few weeks if I was going to set
											any goals for 2014. I'm didn't really complete many of my
											goals for 2013, but I have...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/eb3fa0a535aad25459bd3299f0b26557?s=250&d=mm&r=x"
													alt="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">05 Jan 2014</span>

											<span class="post-read-more"
												><a href="/setting-goals-for-2014" title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/garmin-edge-500-software-missing-after-32-update">
											<img
												class="img-fluid"
												src="/assets/images_out/Content/2013/5-9-13-GarminEdge500_705-705-ad8068e48.jpg"
												alt="Garmin Edge 500 “Software Missing” after 3.2 Update"
												srcset="
													/assets/images_out/Content/2013/5-9-13-GarminEdge500_705-200-ad8068e48.jpg 200w,
													/assets/images_out/Content/2013/5-9-13-GarminEdge500_705-400-ad8068e48.jpg 400w,
													/assets/images_out/Content/2013/5-9-13-GarminEdge500_705-705-ad8068e48.jpg 705w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a
												class="text-dark"
												href="/garmin-edge-500-software-missing-after-32-update"
												>Garmin Edge 500 “Software Missing” after 3.2 Update</a
											>
										</h2>
										<h4 class="card-text">
											Last night Garmin was nice enough to send out an email to
											all Edge 500 users (assuming they sent it to anyone who
											has registered their device with Garmin.com). The...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/eb3fa0a535aad25459bd3299f0b26557?s=250&d=mm&r=x"
													alt="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">09 May 2013</span>

											<span class="post-read-more"
												><a
													href="/garmin-edge-500-software-missing-after-32-update"
													title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/garmin-edge-510-and-810-released">
											<img
												class="img-fluid"
												src="/assets/images_out/BikeFit_813w-800-ef11c24aa.jpg"
												alt="Garmin Edge 510 and 810 Released"
												srcset="
													/assets/images_out/BikeFit_813w-200-ef11c24aa.jpg 200w,
													/assets/images_out/BikeFit_813w-400-ef11c24aa.jpg 400w,
													/assets/images_out/BikeFit_813w-800-ef11c24aa.jpg 800w,
													/assets/images_out/BikeFit_813w-813-ef11c24aa.jpg 813w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a
												class="text-dark"
												href="/garmin-edge-510-and-810-released"
												>Garmin Edge 510 and 810 Released</a
											>
										</h2>
										<h4 class="card-text">
											Today Garmin has released two new, very cool, products.
											The Garmin Edge 510 and Garmin Edge 810. You can find out
											more information about them with some of the
											information...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/eb3fa0a535aad25459bd3299f0b26557?s=250&d=mm&r=x"
													alt="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">07 Jan 2013</span>

											<span class="post-read-more"
												><a
													href="/garmin-edge-510-and-810-released"
													title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/dear-lance-i-want-to-be-a-fan-but-cant">
											<img
												class="img-fluid"
												src="/assets/images_out/Content/10-18-12-Lance-705-705-ab656dabe.jpg"
												alt="Dear Lance, I want to be a fan, but can’t"
												srcset="
													/assets/images_out/Content/10-18-12-Lance-705-200-ab656dabe.jpg 200w,
													/assets/images_out/Content/10-18-12-Lance-705-400-ab656dabe.jpg 400w,
													/assets/images_out/Content/10-18-12-Lance-705-705-ab656dabe.jpg 705w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a
												class="text-dark"
												href="/dear-lance-i-want-to-be-a-fan-but-cant"
												>Dear Lance, I want to be a fan, but can’t</a
											>
										</h2>
										<h4 class="card-text">
											It is funny how two months can change things. On August
											23rd I posted a blog entitled "[I still support Lance
											Armstrong](/i-still-support-lance-armstrong)", and at the
											time I meant it. But...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/eb3fa0a535aad25459bd3299f0b26557?s=250&d=mm&r=x"
													alt="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">18 Oct 2012</span>

											<span class="post-read-more"
												><a
													href="/dear-lance-i-want-to-be-a-fan-but-cant"
													title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->
						</div>
					</section>

					<!-- Pagination
================================================== -->
					<div class="bottompagination">
						<div class="pointerup"><i class="fa fa-caret-up"></i></div>
						<span class="navigation" role="navigation">
							<div class="pagination">
								<a class="ml-1 mr-1" href="/page8/">&laquo; Prev</a>

								<a class="ml-1 mr-1" href="/">1</a>

								<a class="ml-1 mr-1" href="/page2/">2</a>

								<a class="ml-1 mr-1" href="/page3/">3</a>

								<a class="ml-1 mr-1" href="/page4/">4</a>

								<a class="ml-1 mr-1" href="/page5/">5</a>

								<a class="ml-1 mr-1" href="/page6/">6</a>

								<a class="ml-1 mr-1" href="/page7/">7</a>

								<a class="ml-1 mr-1" href="/page8/">8</a>

								<span class="ml-1 mr-1">9</span>

								<a class="ml-1 mr-1" href="/page10/">10</a>

								<a class="ml-1 mr-1" href="/page11/">11</a>

								<a class="ml-1 mr-1" href="/page12/">12</a>

								<a class="ml-1 mr-1" href="/page13/">13</a>

								<a class="ml-1 mr-1" href="/page14/">14</a>

								<a class="ml-1 mr-1" href="/page15/">15</a>

								<a class="ml-1 mr-1" href="/page10/">Next &raquo;</a>
							</div>
						</span>
					</div>
				</main>

				<!-- Bottom Alert Bar
================================================== -->
				<div class="alertbar">
					<div class="container text-center">
						<span
							><img src="/assets/images/logo.png" alt="BicycleTips.com" /> Never
							miss a <b>story</b> from us, subscribe to our newsletter</span
						>
						<form
							action="https://mailchi.mp/22d2b6b35a2b/bicycletipscom-newsletter"
							method="post"
							name="mc-embedded-subscribe-form"
							class="wj-contact-form validate"
							novalidate
						>
							<div class="mc-field-group">
								<input
									type="email"
									placeholder="Email"
									name="EMAIL"
									class="required email"
									id="mce-EMAIL"
									autocomplete="on"
									required
								/>
								<input
									type="submit"
									value="Subscribe"
									name="subscribe"
									class="heart"
								/>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Categories Jumbotron
================================================== -->
			<div class="jumbotron fortags">
				<div class="d-md-flex h-100">
					<div class="col-md-4 transpdark align-self-center text-center h-100">
						<div
							class="d-md-flex align-items-center justify-content-center h-100"
						>
							<h2 class="d-md-block align-self-center py-1 font-weight-light">
								Explore <span class="d-none d-md-inline">→</span>
							</h2>
						</div>
					</div>
					<div class="col-md-8 p-5 align-self-center text-center">
						<a class="mt-1 mb-1" href="/category/2021/">2021 (1)</a>

						<a class="mt-1 mb-1" href="/category/2022/">2022 (1)</a>

						<a class="mt-1 mb-1" href="/category/2023/">2023 (1)</a>

						<a class="mt-1 mb-1" href="/category/2024/">2024 (2)</a>

						<a class="mt-1 mb-1" href="/category/30-days-of-biking/"
							>30 Days of Biking (3)</a
						>

						<a class="mt-1 mb-1" href="/category/bicycle-tips/"
							>Bicycle Tips (29)</a
						>

						<a class="mt-1 mb-1" href="/category/big-sugar-gravel/"
							>Big Sugar Gravel (6)</a
						>

						<a class="mt-1 mb-1" href="/category/bike/">Bike (8)</a>

						<a class="mt-1 mb-1" href="/category/bike-packing/"
							>Bike Packing (3)</a
						>

						<a class="mt-1 mb-1" href="/category/camping/">Camping (2)</a>

						<a class="mt-1 mb-1" href="/category/dirty-kanza/"
							>Dirty Kanza (17)</a
						>

						<a class="mt-1 mb-1" href="/category/electronics/"
							>Electronics (10)</a
						>

						<a class="mt-1 mb-1" href="/category/equipment/">Equipment (20)</a>

						<a class="mt-1 mb-1" href="/category/fitness/">Fitness (10)</a>

						<a class="mt-1 mb-1" href="/category/gopro/">GoPro (1)</a>

						<a class="mt-1 mb-1" href="/category/gravel/">Gravel (36)</a>

						<a class="mt-1 mb-1" href="/category/industry/">Industry (16)</a>

						<a class="mt-1 mb-1" href="/category/livestrong/">LIVESTRONG (5)</a>

						<a class="mt-1 mb-1" href="/category/lscdavis/">LSCDavis (5)</a>

						<a class="mt-1 mb-1" href="/category/life/">Life (1)</a>

						<a class="mt-1 mb-1" href="/category/lifetime/">LifeTime (5)</a>

						<a class="mt-1 mb-1" href="/category/maintenance/"
							>Maintenance (1)</a
						>

						<a class="mt-1 mb-1" href="/category/missouri/">Missouri (10)</a>

						<a class="mt-1 mb-1" href="/category/mud/">Mud (1)</a>

						<a class="mt-1 mb-1" href="/category/online/">Online (1)</a>

						<a class="mt-1 mb-1" href="/category/ride-review/"
							>Ride Review (1)</a
						>

						<a class="mt-1 mb-1" href="/category/site-news/">Site News (5)</a>

						<a class="mt-1 mb-1" href="/category/strava/">Strava (11)</a>

						<a class="mt-1 mb-1" href="/category/the-mid-south/"
							>The Mid South (1)</a
						>

						<a class="mt-1 mb-1" href="/category/tips/">Tips (21)</a>

						<a class="mt-1 mb-1" href="/category/travel/">Travel (25)</a>

						<a class="mt-1 mb-1" href="/category/trips/">Trips (16)</a>

						<a class="mt-1 mb-1" href="/category/unbound/">Unbound (4)</a>

						<a class="mt-1 mb-1" href="/category/unbound-gravel/"
							>Unbound Gravel (6)</a
						>
					</div>
				</div>
			</div>

			<!-- Begin Footer
================================================== -->
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 text-center text-lg-left">
							Copyright © 2024 BicycleTips.com
						</div>
						<div class="col-md-6 col-sm-6 text-center text-lg-right">
							Forked from
							<a href="https://www.chrishammond.com/">Chris Hammond</a>'s
							<a href="https://www.jekyllexample.com">jekyllexample.com</a>.
						</div>
					</div>
				</div>
			</footer>
			<!-- End Footer
================================================== -->
		</div>
		<!-- /.site-content -->

		<!-- Scripts
================================================== -->

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
			crossorigin="anonymous"
		></script>

		<script
			src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
			crossorigin="anonymous"
		></script>

		<script src="/assets/js/mediumish.js"></script>

		<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
